
.carousel-container {
	width: 100%;
	height: 100%;
}

.carousel-container SlickCarousel {
	width: 100%;
	height: 100%;
}

.img-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.img-container img {
	margin: auto;
	max-width: 250px;
	max-height: 250px;
}