.list-item {
	padding: 5px;
	color: #DEBDC2;
	font-weight: lighter;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	height: 40px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 30px;
	padding-right: 30px;
}