.btn-transparent {
	background-color: transparent;
	border-color: transparent;
	color: white;
}

.img-bg {
	position: fixed;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.container-login {
	width: 100%;
	height: 100%;
}

.joining-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);

	color: white;
	font-size: 20px;
}

.input-code {
	position: absolute;
	width: 40%;
	height: 30%;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);

	background-color: transparent;
	box-sizing: border-box;
	border: 2px solid #fff;
	text-align: center;
	color: white;
	text-transform: uppercase;
	outline: none;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.btn-social {
	position: absolute;
	width: 70%;
	height: 30%;
	max-width: 540px;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.btn-social:active {
	opacity: .3;
}

/*.btn-social img {
	width: 100%;
	height: 100%;
}*/

.btn-skip {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	font-weight: lighter;
	font-size: 20px;

	padding: 20px;
	border: 2px solid #ffffff;
	border-radius: 25px;
}

.btn-skip:active {
	opacity: .3;
}

.label-login {
	position: absolute;
	width: 100%;
	top: 5%;
	text-align: center;
	color: white;
	font-size: 16px;
}

.div-login {
	position: absolute;
	top: 10%;
	width: 100%;
	bottom: 0px;
}

.div-login .div-separator {
	position: absolute;
	width: 90%;
	height: 1px;
	bottom: 0px;
	background-color: #DEBDC2;
	left: 50%;
	transform:  translateX(-50%);
}

.div-login .div-or-separator {
	position: absolute;
	width: 70%;
	height: 1px;
	background-color: #DEBDC2;
	bottom: 0px;
	left: 50%;
	transform:  translateX(-50%);
}

.div-login .div-title {
	width: 100%;
	height: 20%;
	position: relative;
}

.div-title p {

	position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

	color: white;
	font-size: 24px;
	text-align: center;
}

.div-login .div-code {
	width: 100%;
	height: 15%;

	position: relative;
}

.div-login .div-fb {
	width: 100%;
	height: 20%;

	position: relative;
}

.div-login .div-other {
	width: 100%;
	height: 30%;
}

.div-other-half {
	width: 100%;
	height: 50%;
	position: relative;
}

.div-login .div-skip {
	width: 100%;
	height: 15%;
	position: relative;
}