.img-bg {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.img-menu {
	float: left;
	height: 50%;
	
	top: 50%;
	transform: translateY(-50%);
	margin-left:10px;
}

.img-menu:active {
	opacity: .3;
}


.my-button:active {
	opacity: .3;
}

.container-main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.div-header {
	margin-top: 6%;
	width: 100%;
	height: 8%;
}

.div-header p {
	position: relative;
	left: 50%;
	top: 50%;

	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	font-size: 16px;
	color: #DEBDC2;
}

.div-perform-name {
	margin-top: 5px;
	width: 100%;
	height: 5%;
}

.div-perform-name p {
	position: relative;
	left: 50%;
	top: 50%;

	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	font-size: 14px;
	color: #E5BF66;
}

.div-party-name {
	width: 100%;
	height: 5%;
}

.div-party-name p {
	position: relative;
	left: 50%;
	top: 50%;

	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	font-size: 14px;
	font-weight: lighter;
	color: #E5BF66;
}

.div-carousel {
	width: 100%;
	height: 40%;
}

.carousel {
	width: 100%;
	height: 100%;
}

.div-song-info {
	width: 100%;
	height: 10%;
}

.div-song-info img {
	margin: auto;
	position: relative;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	height: 80%;
}

.div-song-info .col-xs-3 {
	padding-right: 0px;
}

.div-song-info .col-xs-9 {
	padding-left: 0px;
}


.div-song-info .song-title {
	padding-top: 10px;
	margin-bottom: 0;

	color: #DEBDC2;
}

.div-song-info .song-artist {
	margin-top: -10px;

	font-weight: lighter;
	color: #DEBDC2;
}

.div-like-dislike {
	width: 100%;
	height: 9%;
}

.row-like-dislike {
	height: 100%;
}

.col-like-dislike {
	height: 100%;
	width: 50%;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
}

.div-like-dislike img {
	height: 90%;
}

/*.div-like-dislike img:active {
	opacity: .3;
}*/

.div-footer {
	width: 100%;
	height: 18%;
}

.col-left {
	position: relative;
	height: 100%;
	width: 70%;
	padding-left: 20px;
}

.col-left div {
	width: 100%;
	margin-top: 8%;
	text-align: center;
	color: white;
	background-color: #876048;
	border-radius: 30px;
	padding: 8%;
}

.col-left div:active {
	background-color: rgb(82,56,35);
}

.col-right {
	position: relative;
	height: 100%;
	width: 30%;
	padding-right: 10px;
}

.col-right img {
	margin: auto;
	margin-top: 20%;
	background-color: #876048;
	border-radius: 10px;
	padding: 10px;
}

.col-right img:active {
	background-color: rgb(82,56,35);
}

.row-footer {
	height: 100%;
	display: flex;
}


/* 
	Sidebar styles 
	*/


.container-sidebar {
	width: 200px;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0, 0.4);
}


.div-header-sidebar {
	margin-top: 13%;
	width: 100%;
	height: 8%;
}

.div-header-sidebar p {
	position: relative;
	left: 50%;
	top: 50%;

	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	font-size: 16px;
	color: #DEBDC2;
}

.div-menu-sidebar {
	margin-top: 20px;
	width: 160px;
	padding: 10px;
	margin-left: 20px;
	background-color: #876048;
	text-align: center;
	color: white;
	border-radius: 20px;
}

.div-menu-sidebar:active {
	background-color: rgb(82,56,35);
}